<script>
  var emulator;
  var socket;
	$(document).ready( function(){
		emulator = new JSNES({
			'ui': $("#emulator").JSNESUI({
				"Nintendo": [["Contra", "/roms/Contra.nes"],
										 ["Dr. Mario", "/roms/Dr_Mario.nes"],
										 ["Bubble Bobble", "/roms/Bubble_Bobble.nes"],
										 ["Bubble Bobble 2", "/roms/Bubble_Bobble2.nes"]],
				"Homebrew": [["Concentration Room", "/roms/croom.nes"]]
			})
		});

    socket = io.connect('http://' + document.location.hostname + ':3333/');

    // Display sessionId
    socket.on("connect", function(evt) {
      var sessionId = document.createElement("div");
      document.querySelector("#sessionId").innerHTML = sessionId;
    });

    socket.on("role", function(evt) {
      var message = JSON.parse(evt);
      switch (message.initialize) {
        case 'm': joynesClient = new joynes.Master(emulator, socket); break;
        case 's': joynesClient = new joynes.Slave(emulator, socket); break;
        default: alert("something's wrong");
      }
    });

    // partnerId is a URL parameter
    var partnerIdPresent = /\/(\w+)/.exec(document.location.pathname);
    if(partnerIdPresent) {
      var partnerId = partnerIdPresent[1];
      pair(partnerId);
    }
  });

  var pair = function(partnerId) {
    socket.emit("pair", partnerId);
  };

  var displayPoster = function(title) {
    var posters = document.querySelectorAll("#poster img");
    for(var j = 0; j < posters.length; j++) {
      var poster = posters.item(j);

      if(poster.getAttribute("data-game") == title) {
        poster.style.display = "block";
      } else {
        poster.style.display = "none";
      }
    }
  }

  document.onready = function() {

    // Game setup (cartridges, posters)
    var games = document.getElementsByClassName("game");
    for(var i = 0; i < games.length; i++) {

      var game = games.item(i);

      game.onmouseover = function(event) {
        var title = event.target.getAttribute("data-game");
        displayPoster(title);
      }

      // Restore poster to loaded game
      game.onmouseout = function(event) {
        var gameIndex = document.querySelector("select").selectedIndex;
        var games = document.querySelectorAll("select option");
        var title = games.item(gameIndex).innerHTML;

        displayPoster(title);
      }

      game.onclick = function(event) {
        var title = event.target.getAttribute("data-game");
        var roms = document.querySelector(".nes-roms select");

        displayPoster(title);

        // Load game's ROM
        for(var j = 0; j < roms.options.length; j++) {
          var rom = roms.options.item(j);
          if(rom.innerHTML == title) {
            roms.selectedIndex = j;
            $(".nes-roms select").change();
          }
        }

        setTimeout(function() {
          // We're scaling element up; if this causes a slowdown
          // in rendering, we should be removing a negative scale here.
          $(".nes-screen").
            css("-webkit-transform", "skewY(0) scale(5)").
            css("left", "-79px");
          $("#wrapper-main").css("opacity", "0.4");
        }, 1000);
      }
    }
  }
</script>

<div id="wrapper-main">
	<div id="container-main" >
		<div id="container-title">
			<div id="title">
        <!-- <p>This is the title.</p> -->
			</div>
		</div>
		<div id="container-tv">
			<div id="tv">
				<!-- <p>This is a tv.</p> -->
			</div>
		</div>
		<div id="container-nes">
			<div id="nes">
				<!-- <p>This is a nes system.</p> -->
			</div>
		</div>
    <div id="poster">
      <img src="/images/bubble_bobble.png" data-game="Bubble Bobble"/>
      <img src="/images/bubble_bobble_2.png" data-game="Bubble Bobble 2"/>
      <img src="/images/contra.png" data-game="Contra"/>
      <img src="/images/dr_mario.png" data-game="Dr. Mario"/>
    </div>
		<div id="container-controllers">
      <ul>
        <li class="controller" id="controller1"></li>
        <li class="controller" id="controller2"></li>
      </ul>
		</div>
		<div id="container-games">
			<ul id="games">
				<li class="game" id="game1" data-game="Dr. Mario">Game 1</li>
				<li class="game" id="game2" data-game="Contra">Game 2</li>
				<li class="game" id="game3" data-game="Bubble Bobble">Game 3</li>
				<li class="game" id="game4" data-game="Bubble Bobble 2">Game 4</li>
			</ul>
		</div>
		<div id="container-couch">
			<div id="couch">
				<!-- <p>This is the couch.</p> -->
			</div>
		</div>
		<div id="container-bg">
			<div id="bg">
				<!-- <p>This is the background</p> -->
			</div>
		</div>
<!-- 		<div id="container-floor">
			<div id="floor">
				<p>This is the floor</p>
			</div>
		</div> -->
	</div>
</div>
<div id="emulator"></div>

