<script>
  var emulator;
  var socket;
	$(document).ready( function(){
		emulator = new JSNES({
			'ui': $("#emulator").JSNESUI({
				"Nintendo": [["Contra", "/roms/Contra.nes"],
										 ["Dr. Mario", "/roms/Dr_Mario.nes"],
										 ["Bubble Bobble", "/roms/Bubble_Bobble.nes"],
										 ["Bubble Bobble 2", "/roms/Bubble_Bobble2.nes"]],
				"Homebrew": [["Concentration Room", "/roms/croom.nes"]]
			})
		});

		// master = new joynes.Master(masterNes);

    //var socket = new WebSocket('ws://' + document.location.hostname + ':8080/');
    socket = io.connect('http://' + document.location.hostname + ':3333/');
    socket.on("role", function(evt) {
      console.log(evt);
      var message = JSON.parse(evt);
      if (message.initialize) {
        switch (message.initialize) {
          case 'm': joynesClient = new joynes.Master(emulator, socket); break;
          case 's': joynesClient = new joynes.Slave(emulator, socket); break;
		  default: alert("something's wrong");
        }
      }
    });

    // partnerId is a URL parameter
    var partnerIdPresent = /\/(\w+)/.exec(document.location.pathname);
    if(partnerIdPresent) {
      var partnerId = partnerIdPresent[1];
      pair(partnerId);
    }
  });

  var pair = function(partnerId) {
    socket.emit("pair", partnerId);
  };

  document.onready = function() {
    document.getElementById("nes").onclick = function() {
      pair();
    };
    var games = document.getElementsByClassName("game");
    for(var i = 0; i < games.length; i++) {
      games.item(i).onclick = function(event) {
        var title = event.target.getAttribute("data-game");
        var roms = document.querySelector(".nes-roms select");

        for(var j = 0; j < roms.options.length; j++) {
          var game = roms.options.item(j);
          console.log(game);
          console.log("Comparing " + title + " with " + game.innerHTML);
          if(game.innerHTML == title) {
            console.log("Loading: " + title);
            roms.selectedIndex = j;
            $(".nes-roms select").change();
          }
        }
      }
    }
  }
</script>

<div id="wrapper-main">
	<div id="container-main" >
		<div id="container-title">
			<div id="title">
				<p>This is the title.</p>
			</div>
		</div>
		<div id="container-tv">
			<div id="tv">
				<!-- <p>This is a tv.</p> -->
			</div>
		</div>
		<div id="container-nes">
			<div id="nes">
				<!-- <p>This is a nes system.</p> -->
			</div>
		</div>
		<div id="container-controllers">
			<div id="controllers">
				<ul id="controllers">
					<li class="controllers" id="controller1"></li>
					<li class="controllers" id="controller2"></li>
				</ul>
			</div>
		</div>
		<div id="container-games">
			<ul id="games">
				<li class="game" id="game1" data-game="Dr. Mario">Game 1</li>
				<li class="game" id="game2" data-game="Contra">Game 2</li>
				<li class="game" id="game3" data-game="Bubble Bobble">Game 3</li>
				<li class="game" id="game4" data-game="Bubble Bobble 2">Game 4</li>
			</ul>
		</div>
		<div id="container-couch">
			<div id="couch">
				<!-- <p>This is the couch.</p> -->
			</div>
		</div>
		<div id="container-bg">
			<div id="bg">
				<!-- <p>This is the background</p> -->
			</div>
		</div>
<!-- 		<div id="container-floor">
			<div id="floor">
				<p>This is the floor</p>
			</div>
		</div> -->
	</div>
</div>

<div id="emulator"></div>
