<!DOCTYPE html>
<html>
  <head>
    <title>Copypastel presents: Joynes</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/dynamicaudio-min.js"></script>
    <script type="text/javascript" src="/js/jquery.dimensions.min.js"></script>
    <script type="text/javascript" src="/js/jsnes.js"></script>
    <script type="text/javascript" src="/js/messages.js"></script>
    <script type="text/javascript" src="/js/joynes.js"></script>
    <script type="text/javascript" src="/js/joynes/base.js"></script>
    <script type="text/javascript" src="/js/joynes/master.js"></script>
    <script type="text/javascript" src="/js/joynes/slave.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>

