div#wrapper-main {

}

div#continer-main {

}

div#container-tv {
	width: 960px;
}

div#tv {
	margin: auto;
	width: 200px;

}

div#tv p {
	background: url(/img/tv.png) no-repeat;
	text-indent: -9999px;
	height: 120px;
	width: 105px;
}

div#container-nes {
	width: inherit;
}

div#nes {
	width: 100px;
	margin: 0 auto;

}

div#nes p {
	background: url(/img/nes.png) no-repeat;
	text-indent: -9999px;
	height: 40px;
	width: 55px;
	margin: -20px 0 0 200px;
}

div#container-games {

}

ul {
	list-style-type: none;
	float: left;
}

.game {
  cursor: pointer;
	background: url(/img/game.png) no-repeat;
	text-indent: -9999px;
  height: 18px;
	width: 28px;
	margin: 0 0 0 500px;
}

.nes-roms, .nes-controls, .nes-status {
  /* display: none; */
}

#emulator {
  -webkit-transform: scale(0.16, 0.185) skewY(24deg);
  -webkit-transition: all 0.5s ease-in;
  margin: 0 auto;
}

#emulator.full-screen {
  margin: 0;
  -webkit-transform: scale(2.0) skewY(0deg) rotateX(360deg);
}
