
body {
	background: black;
}

div#wrapper-main {
  position: relative;
	margin: 0 auto;
	width: 1024px;
	height: 768px;
}

div#container-main {
  /*padding-top: 100px;*/
	background: url(/images/bg.png) no-repeat;
	width: 100%;
	height: 100%;
  -webkit-transition: opacity 0.5s ease-in;
}

div#container-title {

}

div#title {
	width:  100%;
	height: auto;
	clear: both;
}

div#message-box {
  top: 300px;
	height: 120px;
  width: 300px;
  margin: 0 auto;
}

div#message-box span{
  background-color: gray;
  width: 100%;
  height: 100%;
}

div#message-box-confirm {
  width: 50px;
  height: 50px;
  background-color: #ffbb00;
}

div#shareId {
  color: white;
  font-weight: bold;
}

div#title p {
	background: url(/images/title.png) no-repeat;
	text-indent: -9999px;
	width: 441px;
	height: 96px;
	margin: 0 auto;
}

div#container-tv {
  position: absolute;
  top: 300px;
  left: 575px;
	height: 120px;
	/*overflow: hidden;*/
}

div#tv {
	background: url(/images/tv.png) no-repeat;
	height: 120px;
	width: 105px;
	/*float: left;*/
}

#emulator {
  position: absolute;
  top: 301px;
  left: 576px;
  width: 41px;
  height: 67px;
}

div#container-nes {
  position: absolute;
	width: 55px;
	height: 40px;
	background: url(/images/nes.png) no-repeat;
  top: 430px;
  left: 680px;
}

div#nes {

}

div#nes p {
	background: url(/images/nes.png) no-repeat;
	text-indent: -9999px;
	height: 40px;
	width: 55px;
	/*margin: 0px 0 0 140px;*/
	/*float: left;*/
}

/* Try to change this to #screen */
.nes-screen {
  width: 41px;
  height: 47px;
  -webkit-transform: skewY(26deg);
  -webkit-transition: -webkit-transform 0.5s ease-in, left 0.5s ease-in;
  position: relative;
  top: 44px;
  left: 214px;
 /* Old TV Position Screen
  top: 36px;
  left: 7px;*/
  z-index: 9999;
}

.nes-roms { display: none; }
.nes-controls { display: none; }
.nes-status { display: none; }

div#container-controllers {
  position: absolute;
  top: 390px;
  left: 475px;
}

.controller {
  width: 23px;
  height: 15px;
	background: url(/images/controller.png) no-repeat;
}

#controller2 {
  position: absolute;
  left: 80px;
  top: 40px;
}


#container-games {
  top: 470px;
  left: 650px;
  position: absolute;
}

#games {
  width: 100%;
  height: 100%;
}

ul {
	list-style-type: none;
	/*float: left;*/
}

#games li {
  cursor: pointer;
	background: url(/images/game.png) no-repeat;
	text-indent: -9999px;
  height: 18px;
	width: 28px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#games li:nth-child(2) {
  left: -55px;
  top: -10px;
}

#games li:nth-child(3) {
  left: 15px;
  top: 20px;
}

#games li:nth-child(4) {
  top: 40px;
  left: -10px;
}

#posters li {
  position: absolute;
  -webkit-transform: skewY(-26deg);
  height: 130px;
  width: 80px;
  position: absolute;
  opacity: 0;
  display: block;
  top: 210px;
  left: 300px;
  background-size: 100%;
  -webkit-transition: opacity 0.5s linear;
}

#posters li:nth-child(1) {
  background: url(/images/dr_mario.png);
}

#posters li:nth-child(2) {
  background: url(/images/contra.png);
}

#posters li:nth-child(3) {
  background: url(/images/bubble_bobble.png);
}

#posters li:nth-child(4) {
  background: url(/images/bubble_bobble_2.png);
}



div#container-couch {
  position: absolute;
  top: 400px;
  left: 370px;
  width: 195px;
	/*overflow: hidden;*/
}

div#couch {
	background: url(/images/couch.png) no-repeat;
	/*text-indent: -9999px;	*/
	width: 195px;
	height: 150px;
	/*width: -25px 0 0 -375px;*/
}

div#container-bg {
	width: 100%;
}

div#bg {

}

/*div#container-floor {
	margin: 0 200px 0 200px;
}

div#floor {
	background: url(/images/floor.png) no-repeat;
	height: 383px;
	width: 763px;
}

div#floor p {
	text-indent: -9999px;

}*/

/**************************************************
Game Hover States
**************************************************/

li.game {
	cursor: pointer;
}

/*li#game1:hover {
	background: url(/images/contra.png);
	width: 347px;
	height: 392px;
}

li#game2:hover {
	background: url(/images/bb.png);
	width: 347px;
	height: 392px;
}

li#game3:hover {
	background: url(/images/bb2.png);
	width: 347px;
	height: 392px;
}

li#game4:hover {
	background: url(/images/drmario.png);
	width: 347px;
	height: 392px;
}*/

/**************************************************
Popup
**************************************************/

div#ui-popup-container {
  background: url(/images/popup-bg.png) no-repeat;
  width: 335px;
  height: 200px;
  margin: -30px auto;
  display: none;
}

div#ui-popup p {
  text-indent: -9999px;
}

div#link-box {
  background: #999;
  width: 304px;
  height: 32px;
  margin: 20px 0 0 22px;
  border-radius: 5px;
  box-shadow: 0 1px 0 #5b5a5a;
  float: left;
}

div#link-box input {
  border-radius: 5px;
  border: 1px solid #000000;
  width: 300px;
  height: 28px;
  font-family: arial, sans-serif;
  font-size: 1em;
  text-indent: 10px;
  margin: 0 auto;
  /*margin: 20px 0 0 45px;*/
  box-shadow:inset 0 0 5px #000000;
  text-align: center;
}

div#copy-link-button-container {
  background: #555555;
  width: 185px;
  height: 46px;
  border-radius: 5px;
  margin: 13px 0 0 8px;
  float: left;
}

#copy-link-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #97dffd;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97dffd;
  box-shadow:inset 0px 1px 0px 0px #97dffd;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26a9e0), color-stop(1, #1b5d92) );
  background:-moz-linear-gradient( center top, #26a9e0 5%, #1b5d92 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26a9e0', endColorstr='#1b5d92');
  background-color:#26a9e0;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #000000;
  display:inline-block;
  color: #154d7a;
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  padding: 11px 18px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5ca4d3;
}#copy-link-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1b5d92), color-stop(1, #26a9e0) );
  background:-moz-linear-gradient( center top, #1b5d92 5%, #26a9e0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b5d92', endColorstr='#26a9e0');
  background-color:#1b5d92;
}#copy-link-button:active {
  position:relative;
  top:1px;
}

div#bff-container {
  width: 300px;
  margin: 0 auto;
}

div#bff {

}

div#bff p {
  text-align: center;
  text-shadow: 0 2px 2px #000000;
  font-style: italic;
  color: #a9a9a9 ;
  margin-top: 115px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

.wiggle {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#player-statuses {
  margin: 0 auto;
  width: 441px;
  position: relative;
}

#player-statuses li {
  color: white;
  display: inline-block;
}

#player-statuses li:nth-child(1) {
}

#player-statuses li:nth-child(2) {
  position: relative;
  left: 230px;
}

#player-statuses .connected:after {
  content: "Player 2";
}

#player-statuses .waiting {
  cursor: pointer;
}

#player-statuses .waiting:after {
  content: "Click to invite player";
}
