
body {
	background: black;
}

div#wrapper-main {
	background: url(imageas/bg.png) no-repeat;
	width: 1024px;
	height: 768px;
	margin: 0 auto;

}

div#container-main {
	/*background: url(images/bg.png) no-repeat;*/
}

div#container-title {

}

div#title {
	width:  100%;
	height: auto;
	clear: both;
}

div#title p {
	background: url(images/title.png) no-repeat;
	text-indent: -9999px;
	width: 441px;
	height: 96px;
	margin: 0 auto;
}

div#container-tv {
	float: left;
	margin: 200px 0 0 575px;
	height: 120px;
	/*overflow: hidden;*/
}

div#tv {
	background: url(images/tv.png) no-repeat;
	text-indent: -9999px;
	height: 120px;
	width: 105px;
	margin: 0 auto;
	/*float: left;*/
}

div#tv p {

}

div#container-nes {
	float: left;
	width: 55px;
	height: 40px;
	background: url(images/nes.png) no-repeat;
	margin: 320px 0 0 20px;
}

div#nes {

}

div#nes p {
	background: url(images/nes.png) no-repeat;
	text-indent: -9999px;
	height: 40px;
	width: 55px;
	/*margin: 0px 0 0 140px;*/
	/*float: left;*/
}





div#container-controllers {

}

div#controllers {

}

ul#controllers {

}

li#controller1 {
	background: url(images/controller.png) no-repeat;
	width: 23px;
	height: 15px;
	margin: 315px 0 0 -200px;
	float: left;
}

li#controller2 {
	background: url(images/controller.png) no-repeat;
	width: 23px;
	height: 15px;
	margin: 300px 0 0 -250px;
	float: left;
}









div#container-games {
	float: left;
}

ul {
	list-style-type: none;
	/*float: left;*/
}

.game {
  cursor: pointer;
	background: url(images/game.png) no-repeat;
	text-indent: -9999px;
  height: 18px;
	width: 28px;
	margin: 0 0 0 700px;
	/*float: left;*/
}

li#game2 {
	background: url(images/game.png) no-repeat;
	text-indent: -9999px;
	height: 18px;
	width: 28px;
	margin: -10px 0 0 645px;
	/*float: left;*/
}

li#game3 {
	background: url(images/game.png) no-repeat;
	text-indent: -9999px;
	height: 18px;
	width: 28px;
	margin: 0 0 0 595px;
	/*float: left;*/
}

li#game4 {
	background: url(images/game.png) no-repeat;
	text-indent: -9999px;
	height: 18px;
	width: 28px;
	margin: -50px 0 0 610px;
	/*float: left;*/
}

div#container-couch {
	float: left;
	margin: -50px 0 0 -425px;
	/*overflow: hidden;*/
}

div#couch {
	background: url(images/couch.png) no-repeat;
	/*text-indent: -9999px;	*/
	width: 195px;
	height: 150px;
	/*width: -25px 0 0 -375px;*/
}

div#container-bg {
	width: 100%;
}

div#bg {

}

/*div#container-floor {
	margin: 0 200px 0 200px;
}

div#floor {
	background: url(images/floor.png) no-repeat;
	height: 383px;
	width: 763px;
}

div#floor p {
	text-indent: -9999px;

}*/

/**************************************************
Game Hover States
**************************************************/

li.game {
	cursor: pointer;
}

/*li#game1:hover {
	background: url(images/contra.png);
	width: 347px;
	height: 392px;
}

li#game2:hover {
	background: url(images/bb.png);
	width: 347px;
	height: 392px;
}

li#game3:hover {
	background: url(images/bb2.png);
	width: 347px;
	height: 392px;
}

li#game4:hover {
	background: url(images/drmario.png);
	width: 347px;
	height: 392px;
}*/

/**************************************************
Share Link Thing!
**************************************************/

div#ui-container {
	border: 1px solid blue;
	width: 100%;
	height: auto;
}

div#ui-bar-container {
	background: url(images/ui-bg.png) no-repeat;
	width: 630px;
	height: 90px;
	margin: 0 auto;

}

div#ui-bar p {
	text-indent: -9999px;
}

div#cta-container {
	margin: 12px 0 0 55px;
	float: left;
}

div#cta {
	color: #f1f1f1;
	font-family: georgia, serif;
	font-style: italic;
	font-size: 1.1em;
	text-shadow: 0 2px 3px #292929;
	float: left;
}

div#cta-button-container {
	/*background: red;*/
	width: 125px;
	margin-top: 6px;
	margin-left: 48px;
	float: left;
}


#cta-button-red {
	-moz-box-shadow:inset 0px 1px 0px 0px #393939;
	-webkit-box-shadow:inset 0px 1px 0px 0px #393939;
	box-shadow:inset 0px 1px 0px 0px #393939;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2d2d), color-stop(1, #191919) );
	background:-moz-linear-gradient( center top, #2e2d2d 5%, #191919 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2d2d', endColorstr='#191919');
	background-color:#2e2d2d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#0c0c0c;
	font-family: Georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
	padding: 11px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #313131;
}#cta-button-red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #191919), color-stop(1, #2e2d2d) );
	background:-moz-linear-gradient( center top, #191919 5%, #2e2d2d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#191919', endColorstr='#2e2d2d');
	background-color:#191919;
}#cta-button-red:active {
	position:relative;
	top:1px;
}

#cta-button-green {
	-moz-box-shadow:inset 0px 1px 0px 0px #393939;
	-webkit-box-shadow:inset 0px 1px 0px 0px #393939;
	box-shadow:inset 0px 1px 0px 0px #393939;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2d2d), color-stop(1, #191919) );
	background:-moz-linear-gradient( center top, #2e2d2d 5%, #191919 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2d2d', endColorstr='#191919');
	background-color:#2e2d2d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color: white;
	font-family: Georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
	padding: 11px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #313131;
}#cta-button-green:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #191919), color-stop(1, #2e2d2d) );
	background:-moz-linear-gradient( center top, #191919 5%, #2e2d2d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#191919', endColorstr='#2e2d2d');
	background-color:#191919;
}#cta-button-green:active {
	position:relative;
	top:1px;
}

div#red-glow-container {
	background: url(images/red-glow.png);
	width: 32px;
	height: 32px;
	float: left;
	margin: 18px 0 0 34px;
}

div#red-glow {
	width: 32px;
	height: 32px;
	float: left;
}

div#red-glow p {
	text-indent: -9999px;
}

div#green-glow-container {
	background: url(images/green-glow.png);
	width: 32px;
	height: 32px;
	float: left;
	margin: -13px 0 0 34px;
}

div#green-glow {
	width: 32px;
	height: 32px;
	float: left;
}

div#green-glow p {
	text-indent: -9999px;
}

